<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jQuery.Bootstrap.js"></script>
    <script src="~/Scripts/jQuery.Bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/sortable.js"></script>
    <script src="~/Scripts/tablesorter/jquery.tablesorter.combined.js"></script>
    <script src="~/Scripts/tablesorter/jquery.tablesorter.combined.min.js"></script>
    <link href="~/sorter/style.css" rel="stylesheet" />
    <link href="~/sorter/asc.gif" rel="logo" />
    <link href="~/sorter/bg.gif" rel="logo" />
    <link href="~/sorter/desc.gif" rel="logo" />


    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min"></script>
    <script src="~/Scripts/jquery.tablesorter.js"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <p> Hi this is HTML 5 thin client example </p>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
